html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3E8D9; /* Ensures the background color fills the entire page */
}
/* General Styles */
.App {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  line-height: 1.6;
  background-color: #F3E8D9; /* Light tan background */
  color: #333; /* Dark text for readability */
}

/* Featured Video Section */
.featured-video {
  padding: 50px;
  background-color: #F3E8D9; /* Light tan background */
}

/* Testimonials CTA Section */
.testimonials-cta {
  padding: 50px;
  background-color: #E2C6A0; /* Darker tan background */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Order Now Section */
.order-now {
  padding: 50px;
  background-color: #F3E8D9; /* Light tan background */
}

h2 {
  font-family: "League Spartan", system-ui;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #333; /* Dark footer background */
  color: #F3E8D9; /* Light tan text */
  font-family: "Libre Baskerville", serif;
}

a {
  text-decoration: none !important;
  color: #F3E8D9;
}

a.lighter {
  font-weight: 900;
  text-decoration: none !important;
  color: #333;
}
a.lighter:hover {
  color: #F3E8D9;
  background-color: #5c3b1a;
  text-decoration: none !important;
}

.header {
  padding-top: 100px;
  padding-bottom: 40px;
}

.tan-background {
  background-color: #E2C6A0; /* Darker tan color */
}

.light-background {
  background-color: #F3E8D9; /* Light tan color */
}

.content {
  max-width: 800px;
}

button {
  padding: 20px 30px;
  font-family: "Libre Baskerville", serif; /* Updated font family */
  font-size: 1rem;
  background-color: #7A4F21; /* Darker button for contrast */
  color: #F3E8D9; /* Light tan text */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5c3b1a;
}