html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3E8D9; /* Ensures the background color fills the entire page */
}
/* General Styles */
.App {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  line-height: 1.6;
  background-color: #F3E8D9; /* Light tan background */
  color: #333; /* Dark text for readability */
}

/* Featured Video Section */
.featured-video {
  padding: 50px;
  background-color: #F3E8D9; /* Light tan background */
}

.featured-video h2 {
  font-family: "League Spartan", system-ui;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Testimonials CTA Section */
.testimonials-cta {
  padding: 50px;
  background-color: #E2C6A0; /* Darker tan background */
}

.testimonials-cta h2 {
  font-family: "League Spartan", system-ui;
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonials-cta button {
  padding: 20px 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  margin: 5px;
  background-color: #333;
  color: #F3E8D9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.testimonials-cta button:hover {
  background-color: #8B7D6A;
}

/* Order Now Section */
.order-now {
  padding: 50px;
  background-color: #F3E8D9; /* Light tan background */
}

.order-now h2 {
  font-family: "League Spartan", system-ui;
  font-size: 2rem;
  margin-bottom: 20px;
}

.order-now button {
  padding: 20px 30px;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  background-color: #333;
  color: #F3E8D9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-now button:hover {
  background-color: #8B7D6A;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #333; /* Dark footer background */
  color: #F3E8D9; /* Light tan text */
  font-family: "Libre Baskerville", serif;
}

a {
  text-decoration: none !important;
  color: #F3E8D9;
}
